
body{
    background-color: #f0f8ff;
    font-size: 15px;
    margin: 0;
}
*{
    font-family: monospace;
}
header{
    color: white;
    text-align: center;
    background-color: red;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
button{
    cursor: pointer;
    height: 40px;
    width: 140px;
    margin: 15px;
    border-radius: 10px;
    transition: all 0.5s ease 0s;
}
h1{
    font-size: 50px;
    color: #2196f3;
}
header h1{
    color: white;
    margin: 0;
}
button:hover{
    color: white;
    background-color: darkblue;
    transform: translateY(-10px);
}
img{
    height: 200px;
}
main{
    padding: 20px;
}
section{
    height: 100vh;
    margin-bottom: 20px;
    border: 1px solid gray;
    padding: 7px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
a{
    text-decoration: none;
}
form div{
    margin: 5px 0;
}
.submit{
    cursor: pointer;
    height: 40px;
    width: 140px;
    border-radius: 10px;
    color: white;
    background-color: #2196f3;
}
input{
    border-radius: 5px;
    border: 1px solid lightgray;
    height: 25px;
}
.fixedbutton{
        position: fixed;
        bottom: 10px;
        right: 10px;
        height: 70px;
        width: 70px;
        border: 1px solid black;
        border-radius: 50%;
        cursor: pointer;
        color: white;
        background-color: #2196f3;
}
footer{
    height: 124px;
    color: lightgray;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}